/* effects  */
.icon-img:hover {
   transform: scale(2);
   border: .2px solid rgba(0,255,255,0.8);
   border-radius: 7%;
  box-shadow: 0px 0px 20px rgba(0,255,255,0.8);
  
}

#nav-links a:hover{
text-shadow: 1px 1px 1px rgba(0,255,255,0.8);
transform: scale(1.5);
}

.cards:hover{
    box-shadow: 0 0 10px 15px rgb(80, 2, 61);
    border-color:rgb(129, 21, 102);
    background-color: rgb(98, 15, 77);
}


/* body */
body {
    background-image: url("./assets/Gradientnight.jpg");
    color:aliceblue;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h2 , h4 , h5, details {
    text-align: center;
    
}

main {
    margin-top : 20px;
}

/* nav  */
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    position: sticky;
    top: 0; 
    width: 100%;
    height: 25%;
    z-index: 1;
    padding: 0;
    background-image: url('./assets/darksky.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    border: 2px solid black;
    /* overflow: hidden; */
    /* display: grid;
    grid-template-columns: 100%;
    place-content: center; */
    
}

#nav-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    padding: 10px;
    justify-content: space-between;
    text-align: center;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
    
}

#nav-links a {
    text-decoration:none;
    color:aliceblue;
}

/* hero section */
#hero-section{
    color: white;
    display:flex;
    background-image: url('./assets/darksky.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px; 
    width: 100%; 
    padding:0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-wrap: wrap;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.7);
}
/* #img-container{ */
     /* filter: drop-shadow(1000px 1000px 1000px rgba(0, 255, 255, 0.7)) ;  */
      /* filter: drop-shadow(0px 0px 0px white);
}  */

#profile-picture{
    max-width: 250px;
    max-height: 250px;
    clip-path: polygon(100% 50%,87.67% 60.09%,93.3% 75%,77.58% 77.58%,75% 93.3%,60.09% 87.67%,50% 100%,39.91% 87.67%,25% 93.3%,22.42% 77.58%,6.7% 75%,12.33% 60.09%,0% 50%,12.33% 39.91%,6.7% 25%,22.42% 22.42%,25% 6.7%,39.91% 12.33%,50% 0%,60.09% 12.33%,75% 6.7%,77.58% 22.42%,93.3% 25%,87.67% 39.91%);  
    /* filter: drop-shadow(0 0 0.75rem rgba(0, 255, 255, 0.7)) ; */
    padding: 0;
    margin:0;

}
/* about & projects */
#about,  #projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards{
    border:2px solid black;
    background-color:rgb(44, 6, 32);
    border-radius: 10px;
    margin: 5px;;
    padding: 10px;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.2);
}

.cards img{
    border-radius: 10px;
    height :85%;
    width:85%;
    
}

/* media queries */

 @media (min-width: 768px) and (max-width: 1024px) {
      /* Styles for tablets in portrait mode */
      #about,  #projects{
    grid-template-columns: 1fr 1fr 1fr;
}
 #profile-picture{
    max-width: 150px;
    max-height: 150px;
    clip-path: polygon(100% 50%,87.67% 60.09%,93.3% 75%,77.58% 77.58%,75% 93.3%,60.09% 87.67%,50% 100%,39.91% 87.67%,25% 93.3%,22.42% 77.58%,6.7% 75%,12.33% 60.09%,0% 50%,12.33% 39.91%,6.7% 25%,22.42% 22.42%,25% 6.7%,39.91% 12.33%,50% 0%,60.09% 12.33%,75% 6.7%,77.58% 22.42%,93.3% 25%,87.67% 39.91%);  
    
}

#hero-section{
    width:auto;
    margin:auto;
    padding:0;
    padding-top: 25px;
    padding-bottom: 25px;
}
h1, #hero-section p{
    font-size:small;
}
    }

@media (min-width: 481px) and (max-width: 767px) {
      /* Styles for large mobile devices and low-res tablets */
      #about,  #projects{
    grid-template-columns: 1fr 1fr;
      }
    #profile-picture{
    max-width: 100px;
    max-height: 100px;
    clip-path: polygon(100% 50%,87.67% 60.09%,93.3% 75%,77.58% 77.58%,75% 93.3%,60.09% 87.67%,50% 100%,39.91% 87.67%,25% 93.3%,22.42% 77.58%,6.7% 75%,12.33% 60.09%,0% 50%,12.33% 39.91%,6.7% 25%,22.42% 22.42%,25% 6.7%,39.91% 12.33%,50% 0%,60.09% 12.33%,75% 6.7%,77.58% 22.42%,93.3% 25%,87.67% 39.91%);  
    
}
h1, #hero-section p {
    font-size: smaller;
    

}
#nav-links{
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 5px; 
    
}
 
}
    

@media (max-width: 480px) {
      /* Styles for small mobile devices */
      #about,  #projects{
    grid-template-columns: 1fr;
}
#profile-picture{
   display: none;
}
h1, #hero-section p{
    font-size:x-small

}
#hero-section{
    padding:0;
    padding-top: 5px;
    padding-bottom: 5px;
}
#nav-links{
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 5px; 
    
}
#icon-creators {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .5em;
    padding: .8em;;
}

    }


/* footer */
#contact-links{
    display: flex;
    justify-content: space-evenly;
}

.icon-img {
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
}

#icon-creators {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
}

#icon-title{
    text-align: center;
}
#icon-creators p {
    font-size:  .8em;

}